body{
    background-color: #4f4f4f;
}

h1{
    margin: 0px;
    font-size: 32pt;
}

#profile-picture {
    background-position: center;
    height: 375px;
    width: 375px;
    background-repeat: no-repeat;
    margin-left: 15px;
    margin-top: 15px;
}

.about-me {
    color: #e6e6e6;
    margin: 15px;
    text-align: left;
}

.about-me table{
    width: 80%;
}

.about-me td{
    width: 45%;
}

.about-me p{
    padding: 5px;
    font-size: 14pt;
}

.about-me #profile-row td{
    width: 35%;
}

.about-me h2{
    text-align: center;
}

.centered{
    text-align: center;
}

#last-item{
    margin-bottom: 50px;
}