body{
    width: 100%;
    background-color: #4f4f4f;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #e6e6e6;
    font-size: 18pt;
}

h1 {
    font-size: 40pt;    
    font-weight: normal;
    background-image: linear-gradient(teal, rgb(0, 179, 179));
    margin: 0px;
    margin-bottom: 55px;
    padding-bottom: 15px;
}

#profile-picture {
    margin-left: 10%;
    height: 375px;
    width: 375px;
    vertical-align: top;
}

tr {
    margin-top: 25px;
}

p{
    margin: 0px;
    margin-left: 50px;
    padding: 5px;
    margin-right: 10%;
}

h2{
    text-align: center;
    background-image: linear-gradient(#333, #444);
    font-weight: normal;
}

.centered{
    text-align: center;
}

#last-item{
    margin-bottom: 50px;
}