body{
    width: 100%;
    background-color: #212121;
    background-image: url("pictures/pixel-black-background-small.jpg");
    background-repeat: repeat-y;
    background-size: contain;
    background-position: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #e6e6e6;
    font-size: 18pt;
}

h1 {
    margin: 0;
    text-align: right;
    font-size: 40pt;    
    font-weight: normal;
    background-color: #0095a0;
    display: inline-block;
    width: 800px;
}

.header-1[data-scroll="in"] {
    text-align: right;
    width: 80%;
    transition-duration: 2.5s;
}

.header-1 {
    text-align: left;
    background-color: #0095a0;
    margin: 0px;
    margin-top: 50px;
    margin-bottom: 40px;
    padding-bottom: 15px;
    padding-right: 25px;
    padding-left: 0%;
    width: 50%;
    overflow: hidden;
    transition-duration: 2.5s;
}


table {
    width: 100%;
    opacity: 0;
    transition-delay: 1.0;
    transition-duration: 3.0s;
}

table[data-scroll="in"]{
    opacity: 1;
    transition-delay: 1.0s;
    transition-duration: 3.0s;
}

td{
    vertical-align: top;
    text-align: left;
    width: 60%;
}

#profile-td {
    width: 40%;
    padding: 0px;
    text-align: right;
}


#profile-picture {
    height: 375px;
    width: 375px;
    vertical-align: top;
    border: 1px solid #444;
}


p{
    margin: 0px;
    margin-left: 50px;
    padding: 5px;
    margin-right: 10%;
}


.about-me-header{
    background-color: #444;
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-left: 80%;
    margin-top: 100px;
    width: 20%;
    text-align: left;
    overflow: hidden;
    transition-duration: 2.5s;
}

.about-me-header[data-scroll="in"]{
    background-color: #444;
    padding-right: 0;
    margin-left: 25%;
    width: 75%;
    text-align: left;
    transition-duration: 2.5s;
}

.about-me-header:hover{
    padding-right: 5%;
    transition-duration: 0.8s;
}

.about-me-header:hover > a{
   font-size: 28pt;
   text-decoration: underline;
   transition-duration: 0.8s;
}

a{
    color: #e6e6e6;
    text-decoration: none;
    margin: 0px;
    margin-left: 10%;
    font-size: 26pt;
    font-weight: normal;
    width: 500px;
    transition-duration: 0.8s;
}


.text-paragraph {
    text-align: left;
    background-color: #666;
    margin-top: 0;
    margin-left: 80%;
    width: 20%;
    overflow: hidden;
    transition-duration: 2.5s;
}

.text-paragraph[data-scroll="in"]{
    margin-top: 0;
    margin-left: 40%;
    width: 60%;
    transition-duration: 2.5s;
}

p {
    margin-top: 0;
    padding-left: 25px;
    padding-top: 10px;
    margin-right: 0;
    width: 800px;
}