body{
    margin: 0px;
    color: #e6e6e6;
    width: 100%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
}
.toolbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: -moz-hidden-unscrollable;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}
.toolbar {
    margin-bottom: 75px;
}

.toolbar li{
    float: left;
    width: 25%;
}

.toolbar a {
    display: block;
    color: #e6e6e6;
    text-align: center;
    padding-top: 10px; padding-bottom: 10px; padding-left: 15px; padding-right: 15px;
    text-decoration: none;
    font-size: 24px;
}

.toolbar li a:hover {
    background-color: #111;
    transition-duration: 0.4s;
}

#active-page{
    background-color: teal;
}

#active-page:hover {
    background-color: rgb(0, 170, 170);
    transition-duration: 0.4s;
}



.bottom-bar {
    margin-top: 75px;
    background-color: #333;
    position: absolute;
    vertical-align: baseline;
    width: 100%;
}

.bottom-bar ul{
    padding-top: 25px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 12.5%;
    padding-right: 12.5%;
    background-color: #333;
    width: 75%;
    height: 75px;
    align-content: center;
}


.bottom-bar li{
    width: 50%;
    float: left;
}

#text-links {
    padding: 20px;
    background-color: #333;
}

.bottom-bar a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    color: #e6e6e6;
}

.bottom-bar a:hover {
    text-decoration: underline;
}

#github-logo {
    float: right;
    margin-right: 15px;
    margin-top: 20px;
    width: 60px;
    height: 60px;
    transition-duration: 0.4s;
    background-image: url("pictures/github logo.png");
    background-position: center;
    background-size: cover;
    transition-duration: 0.4s;
}

#github-logo:hover {
    margin-right: 10px;
    margin-top: 15px;
    width: 70px;
    height: 70px;
    background-image: url("pictures/github logo-hover.png");
    transition-duration: 0.4s;
}

#linkedIn-logo {
    float: left;
    margin-left: 15px;
    margin-top: 20px;
    width: 60px;
    height: 60px;
    transition-duration: 0.4s;
    background-image: url("pictures/linkedIn logo.png");
    background-position: center;
    background-size: cover;
}

#linkedIn-logo:hover {
    margin-top: 15px;
    margin-left: 10px;
    width: 70px;
    height: 70px;
    background-image: url("pictures/linkedIn logo-hover.png");
    transition-duration: 0.4s;
}