body{
    background-color: #212121;
    background-image: url("pictures/pixel-black-background-small.jpg");
    background-repeat: repeat-y;
    background-size: contain;
    background-position: center;
    width: 100%;
    color: #e6e6e6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#icon {
    width: 175px;
    height: 175px;
}

h1 {
    letter-spacing: 1px;
    text-align: center;
    margin-top: 8%;
    margin-bottom: 15px;
    font-size: 40pt;
    font-weight: normal;
    padding: 0px;
}

h2 {
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 20pt;
    font-weight: normal;
}

p {
    display: block;
    text-align: center;
    margin: 0px;
    margin-bottom: 40px;
    font-size: 14pt;
}