body{
    background-color: #4f4f4f;
    font-size: 18pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    font-size: 40pt;    
    font-weight: normal;
    background-image: linear-gradient(teal, rgb(0, 170, 170));
    margin: 0px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    width: 100%;
}

th{
    width: 100%;
    padding: 0px;
}
#ultimate-image{
    width: 432px;
    height: 275px;
    margin-top: 10px;
}

#strategy-image{
    margin-top: 10px;
    width: 500px;
    height: 157px;
}

td{
    text-align: center;
    padding: 0px;
}

table{
    width: 100%;
}

p{
    margin-top: 10px;
    margin-left: 10%;
    width: 80%;
    padding: 0;
    text-align: justify;
    font-size: 18pt;
}

h2{
    font-size: 28pt;
    font-weight: normal;
    padding-bottom: 25px;
    margin-bottom: 10px;
    background-image: linear-gradient(#333, #444);
}