body{
    background-color: #212121;
    background-image: url("pictures/pixel-black-background-small.jpg");
    background-repeat: repeat-y;
    background-size: contain;
    background-position: center;
    font-size: 18pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
}

h1 {
    font-size: 40pt;    
    font-weight: normal;
    text-align: right;
    /* background-color: #4aa552; */
    background-color: #0095a0;
    margin: 0px;
    margin-top: 10%;
    margin-bottom: 40px;
    padding-bottom: 15px;
    padding-right: 5%;
    padding-left: 20%;
    width: 75%;
}

.header-1 {
    width: 80%;
}

#ultimate-image{
    width: 432px;
    height: 275px;
    margin-top: 25px;
    border: 1px solid #444;
}

#strategy-image{
    width: 500px;
    height: 157px;
    margin-top: 25px;
    border: 1px solid #444;
}

.interests {
    text-align: center;
}

p{
    margin-top: 10px;
    width: 70%;
    padding: 0;
    text-align: justify;
    font-size: 18pt;
}

.interest-header{
    background-color: #444;
    padding: 0px;
    margin-left: 25%;
    width: 75%;
    text-align: left;
}

h2{
    padding-top: 10px;
    padding-bottom: 15px;
    margin: 0px;
    margin-left: 5%;
    font-size: 28pt;
    font-weight: normal;
}

#ultimate-header {
    margin-left: 10%;
}