body{
    background-color: #4f4f4f;
    text-align: center;
}

h1 {
    font-size: 32pt;    
}

.projects-content ul{
    list-style-type: none;
    text-decoration: underline;
    font-size: 14pt; 
}

