body{
    background-color: #4f4f4f;
    text-align: center;
    font-size: 18pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
}

th{
    text-align: center;
    padding: 0px;
}
h1 {
    font-size: 40pt;    
    font-weight: normal;
    background-image: linear-gradient(teal, rgb(0,170,170));
    margin: 0px;
    padding-bottom: 15px;
    margin-bottom: 40px;
}

td{
    padding: 0px;
}

table{
    padding: 0px;
    margin: 0px;
    text-align: center;
}
.project-header{
    background-image: linear-gradient(#333, #444);
}

h2{
    padding-bottom: 40px;
    padding-left: 10%;
    font-size: 28pt;
    font-weight: normal;
    margin: 5px;
}

table{
    width: 100%;
    text-align: left;
}

.project-picture{
    padding-left: 10%;
    margin-bottom: 50px;
}

p {
    margin-left: 10%;
    margin-bottom: 40px;
    padding-left: 15px;
}

#csgo-image {
    margin-left: 10%;
    padding-left: 15px;
}

#mosaic-images{
    margin-left: 10%;
    margin-bottom: 50px;
}
#mona-lisa {
    width: 345px;
    height: 400px;
    margin-left: 10%;
}

#mona-lisa-gif {
    margin-bottom: 30px;
    width: 345px;
    height: 400px;
}

#spacer {
    display: inline-block;
    width: 50px;
}

#xochimilco-gif {
    width: 507px;
    height: 268px;
    align-self: auto;
    vertical-align: top;
}
