:root{
    /* --orange: #DD7230; */
    --teal: #0095a0;
    --orange: #DD702C;
    --grey: #444;
    --white: #e6e6e6;
}


body{
    background-color: #212121;
    background-image: url("pictures/Black-background-5.2.jpg");
    background-repeat: repeat-y;
    background-size: contain;
    text-align: center;
    font-size: 18pt;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-weight: normal;
    width: 100%;
}

h1 {
    margin: 0;
    font-size: 40pt;    
    font-weight: normal;
    background-color: var(--teal);
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 40px;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    left: 50%;
    right: 0;
    width: max-content;
    position: absolute;
    z-index: -1;
    transition-duration: 2.0s;
}

h1[data-scroll="in"]{
    left: 0;
    right: 0;
    position: absolute;
    transition-duration: 2.0s;
}

.header-1[data-scroll="in"] {
    width: 50%;
    margin:0px;
    margin-left: 50%;
    transition-duration: 2.0s;
}

.header-1 {
    background-color: var(--teal);
    color: var(--teal);
    margin: 0px;
    margin-left: 70%;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 40pt;
    width: 30%;
    position: absolute;
    z-index: -1;
    transition-duration: 2.0s;
}

.header[data-scroll="in"]{
    width: 50%;
    margin:0px;
    margin-right: 50%;
    transition-duration: 2.0s;
}

.header{
    background-color: var(--orange);
    color: var(--orange);
    padding: 0;
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 28pt;
    width: 30%;
    margin:0px;
    margin-right: 70%;
    position: absolute;
    z-index: -1;
    transition-duration: 2.0s;
}

h2{
    background-color: var(--orange);
    padding-top: 10px;
    padding-bottom: 15px;
    padding-right: 40px;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 55%;
    font-size: 28pt;
    width: max-content;
    text-align: left;
    position: absolute;
    z-index: -1;
    font-weight: normal;
    transition-duration: 2.0s;
}


h2[data-scroll="in"]{
    left: 0;
    right: 0;
    position: absolute;
    transition-duration: 2.0s;
}

.post-header{
    padding-top: 10px;
    padding-bottom: 15px;
    opacity: 0;
    font-size: 28pt;
}
.project-picture {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}


p{  
    margin: 0;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 55%;
    padding: 10px;
    font-size: 18pt;
}

.learn-more {
    text-align: left;
    background-color: var(--teal);
    margin: 0px;
    margin-top: 50px;
    margin-bottom: 150px;
    margin-left: 90%;
    padding-bottom: 15px;
    width: 10%;
    transition-duration: 2.0s;
}


.learn-more[data-scroll="in"] {
    margin-left: 65%;
    width: 35%;
    transition-duration: 2.0s;
}

.learn-more:hover {
    margin-left: 62.5%;
    width: 37.5%;
    transition-duration: 1.0s;
}

.learn-more > a {
    display: inline-block;
    padding-top: 10px;
    padding-left: 25px;
    text-decoration: none;
    color: var(--white);
}

.learn-more > a:hover {
    text-decoration: underline;
}

#mosaic-images{
    margin-top: 50px;
    margin-left: 10%;
    margin-bottom: 20px;
    opacity: 1;
}

#mona-lisa {
    width: 345px;
    height: 400px;
    margin-left: 10%;
}

#mona-lisa-gif {
    margin-bottom: 30px;
    width: 345px;
    height: 400px;
}

#spacer {
    display: inline-block;
    width: 50px;
}

#xochimilco-gif {
    width: 507px;
    height: 268px;
    align-self: auto;
    vertical-align: top;
}

#sports-betting-logos {
    width: 600px;
    height: 200px;
    vertical-align:top;
}

#CS326-logos {
    width: 700px;
    height: 175px;
    vertical-align: top;
}

#corona-logos {
    width: 700px;
    height: 175px;
    vertical-align: top;
}

.project-link {
    text-align: left;
    background-color: var(--teal);
    margin: 0px;
    margin-top: 50px;
    margin-left: 90%;
    padding-bottom: 15px;
    padding-left: 0%;
    width: 10%;
    overflow: hidden;
    transition-duration: 2.0s;
}


.project-link[data-scroll="in"] {
    width: 50%;
    margin-left: 50%;
    transition-duration: 2.0s;
}

.project-link:hover {
    margin-left: 47.5%;
    width: 52.5%;
    transition-duration: 1.0s;
}

.project-link > a {
    display: inline-block;
    padding-top: 10px;
    padding-left: 25px;
    text-decoration: none;
    color: var(--white);
    width: 400px;
}

.project-link > a:hover {
    text-decoration: underline;
}

table{
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #555;
}

td{
    padding: 5px;
    background-color: #555;
    border: 1px solid #222;
}